@import "tailwindcss";

@layer base {
  :root {
    /* Colors */
    --color-primary: #8d493a;
    --color-primary-hover: #b85842;

    --color-text-primary: #8d493a;
    --color-text-light: #ffffff;

    --color-button-bg: #f8ede3;
    --color-button-hover: #f8ede3b3;

    --color-border: #f8ede3;
  }

  body {
    font-family: var(--font-sans);
  }
}

/* Tailwind theme extension */
@theme {
  --font-sans: var(--font-sans);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);

  --color-text-primary: var(--color-text-primary);
  --color-text-light: var(--color-text-light);

  --color-button-bg: var(--color-button-bg);
  --color-button-hover: var(--color-button-hover);

  --color-border: var(--color-border);
}
